.vs/j0rpiPlayer/copilot-chat/c60332ad/sessions/033c718d-ffc1-43f1-8a67-8a60b79c2352
.vs/j0rpiPlayer/copilot-chat/c60332ad/sessions/1ca583d2-db72-4526-a831-1a72e120e472
.vs/j0rpiPlayer/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/j0rpiPlayer/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
.vs/j0rpiPlayer/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
.vs/j0rpiPlayer/CopilotIndices/17.14.995.13737/SemanticSymbols.db
.vs/j0rpiPlayer/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
.vs/j0rpiPlayer/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
.vs/j0rpiPlayer/DesignTimeBuild/.dtbcache.v2
.vs/j0rpiPlayer/FileContentIndex/0a094ed9-4d14-4ed8-b939-76d596d2fd06.vsidx
.vs/j0rpiPlayer/FileContentIndex/653099f7-b841-4894-9a59-58764d7334dc.vsidx
.vs/j0rpiPlayer/FileContentIndex/6a471436-d850-4142-a147-7fa17eeead8e.vsidx
.vs/j0rpiPlayer/FileContentIndex/88e653bd-f9c6-40c4-934b-22386fa9e63b.vsidx
.vs/j0rpiPlayer/FileContentIndex/f368c710-100c-4af0-9814-f8ae8d2c8b15.vsidx
.vs/j0rpiPlayer/v17/.futdcache.v2
.vs/j0rpiPlayer/v17/.suo
.vs/j0rpiPlayer/v17/DocumentLayout.backup.json
.vs/j0rpiPlayer/v17/DocumentLayout.json
.vs/j0rpiPlayer/v17/ResourceExplorer/settings.json
.vs/ProjectEvaluation/j0rpiplayer.metadata.v9.bin
.vs/ProjectEvaluation/j0rpiplayer.projects.v9.bin
.vs/ProjectEvaluation/j0rpiplayer.strings.v9.bin
j0rpiPlayer/bin/Debug/net8.0-windows/j0rpiPlayer.deps.json
j0rpiPlayer/bin/Debug/net8.0-windows/j0rpiPlayer.dll
j0rpiPlayer/bin/Debug/net8.0-windows/j0rpiPlayer.exe
j0rpiPlayer/bin/Debug/net8.0-windows/j0rpiPlayer.runtimeconfig.json
j0rpiPlayer/bin/Debug/net8.0-windows/NAudio.Asio.dll
j0rpiPlayer/bin/Debug/net8.0-windows/NAudio.Core.dll
j0rpiPlayer/bin/Debug/net8.0-windows/NAudio.dll
j0rpiPlayer/bin/Debug/net8.0-windows/NAudio.Midi.dll
j0rpiPlayer/bin/Debug/net8.0-windows/NAudio.Wasapi.dll
j0rpiPlayer/bin/Debug/net8.0-windows/NAudio.WinForms.dll
j0rpiPlayer/bin/Debug/net8.0-windows/NAudio.WinMM.dll
j0rpiPlayer/bin/Debug/net8.0-windows/TagLibSharp.dll
j0rpiPlayer/bin/Release/net8.0-windows/j0rpiPlayer.deps.json
j0rpiPlayer/bin/Release/net8.0-windows/j0rpiPlayer.dll
j0rpiPlayer/bin/Release/net8.0-windows/j0rpiPlayer.exe
j0rpiPlayer/bin/Release/net8.0-windows/j0rpiPlayer.runtimeconfig.json
j0rpiPlayer/bin/Release/net8.0-windows/NAudio.Asio.dll
j0rpiPlayer/bin/Release/net8.0-windows/NAudio.Core.dll
j0rpiPlayer/bin/Release/net8.0-windows/NAudio.dll
j0rpiPlayer/bin/Release/net8.0-windows/NAudio.Midi.dll
j0rpiPlayer/bin/Release/net8.0-windows/NAudio.Wasapi.dll
j0rpiPlayer/bin/Release/net8.0-windows/NAudio.WinForms.dll
j0rpiPlayer/bin/Release/net8.0-windows/NAudio.WinMM.dll
j0rpiPlayer/bin/Release/net8.0-windows/TagLibSharp.dll
j0rpiPlayer/CustomListView.cs
j0rpiPlayer/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
j0rpiPlayer/obj/Debug/net8.0-windows/apphost.exe
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPla.875B2E72.Up2Date
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.AssemblyInfo.cs
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.AssemblyInfoInputs.cache
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.assets.cache
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.csproj.AssemblyReference.cache
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.csproj.BuildWithSkipAnalyzers
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.csproj.CoreCompileInputs.cache
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.csproj.FileListAbsolute.txt
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.csproj.GenerateResource.cache
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.designer.deps.json
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.designer.runtimeconfig.json
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.dll
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.GeneratedMSBuildEditorConfig.editorconfig
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.genruntimeconfig.cache
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.GlobalUsings.g.cs
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.player.resources
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.Properties.Resources.resources
j0rpiPlayer/obj/Debug/net8.0-windows/j0rpiPlayer.startupForm.resources
j0rpiPlayer/obj/Debug/net8.0-windows/ref/j0rpiPlayer.dll
j0rpiPlayer/obj/Debug/net8.0-windows/refint/j0rpiPlayer.dll
j0rpiPlayer/obj/Debug/net8.0-windows/TempPE/Properties.Resources.Designer.cs.dll
j0rpiPlayer/obj/j0rpiPlayer.csproj.nuget.dgspec.json
j0rpiPlayer/obj/j0rpiPlayer.csproj.nuget.g.props
j0rpiPlayer/obj/j0rpiPlayer.csproj.nuget.g.targets
j0rpiPlayer/obj/project.assets.json
j0rpiPlayer/obj/project.nuget.cache
j0rpiPlayer/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
j0rpiPlayer/obj/Release/net8.0-windows/apphost.exe
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPla.875B2E72.Up2Date
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.AssemblyInfo.cs
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.AssemblyInfoInputs.cache
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.assets.cache
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.csproj.AssemblyReference.cache
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.csproj.BuildWithSkipAnalyzers
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.csproj.CoreCompileInputs.cache
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.csproj.FileListAbsolute.txt
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.csproj.GenerateResource.cache
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.designer.deps.json
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.designer.runtimeconfig.json
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.dll
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.GeneratedMSBuildEditorConfig.editorconfig
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.genruntimeconfig.cache
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.GlobalUsings.g.cs
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.player.resources
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.Properties.Resources.resources
j0rpiPlayer/obj/Release/net8.0-windows/j0rpiPlayer.startupForm.resources
j0rpiPlayer/obj/Release/net8.0-windows/NAudio.Gui.PanSlider2.resources
j0rpiPlayer/obj/Release/net8.0-windows/NAudio.Gui.VolumeSlider2.resources
j0rpiPlayer/obj/Release/net8.0-windows/ref/j0rpiPlayer.dll
j0rpiPlayer/obj/Release/net8.0-windows/refint/j0rpiPlayer.dll
j0rpiPlayer/obj/Release/net8.0-windows/TempPE/PanSlider.Designer.cs.dll
j0rpiPlayer/obj/Release/net8.0-windows/TempPE/Properties.Resources.Designer.cs.dll
j0rpiPlayer/obj/Release/net8.0-windows/TempPE/VolumeSlider.Designer.cs.dll
j0rpiPlayer/CustomVScrollBar.cs
